#titulo {
    color: deepskyblue;
    border-color:brown;
    border-width: 1px;
    border-style: solid;
    position: relative;
    text-align: center;

}

#imagenes{
    width: 300px;
    height: 250px;
    text-align: center;
}

body{
    text-align: center;
}