button{
    border: 0;
    background-image: linear-gradient(150deg, rgb(240, 0, 164));
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    transition: .4s;
    
}

button span{
    background-color: rgb(5, 32, 32);
    padding: 18px 26px;
    border-radius: 8px;
    transition: .4s;

}

button:active {
    transform: scale(0.9);
}