button{
    border: 0;
    background-image: linear-gradient(150deg, rgb(240, 0, 164));
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 6x;
    cursor: pointer;
    transition: .4s;
    
}

button span{
    background-color: rgb(63, 185, 185);
    padding: 15px 25px;
    border-radius: 8px;
    transition: .4s;

}

button:active {
    transform: scale(0.9);
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}   

*{
    font-family: 'nunito', sans-serif;
    font-weight: bould;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #f0f0f0;
    justify-content: center;
    min-height: 100vh;
    background: mediumvioletred;
}

.fondo{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background:blueviolet;
    border-radius:8 px;
    padding: 10px 20px;
    box-shadow:0 0 10px rgba(0,0,0, .3);
    transition: .5s ease;
}

.fondo:hover{
   width: 500px;  
}

input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #eb4343;
}

i{
    font-size: 22px;
    color: #eb4343;
    cursor: pointer;

}