#titulo {
    color: deepskyblue;
    border-color:brown;
    border-width: 1px;
    border-style: solid;
    position: relative;
    text-align: center;

}

#imagenes{
    width: 300px;
    height: 250px;
    text-align: center;
    position:relative;
}

#fly{
    color-interpolation-filters: linearRGB;
    color-scheme: white;
      
}



button{
    border: 0cap;
    background-image: linear-gradient(150deg,#9500ff,
    #09f, #00DDFF );
    border-radius: 8px;
    color: aliceblue;
    display: flex;
    font-size: 18px;
    padding: 6px;
    cursor: pointer;
    transition: .4s;
}

button span {
    background-color: black;
    padding: 15px 25px;
    border-radius: 16px;
    transition: .4s;

}

button:active { 
    transform: scale(0,9);
}

#todo {
    background-color: whitesmoke;
    transform: translateZ(360deg);
    transition: transform 5s ease;

}


div.loaded{
    transform: rotate(360deg);
}